<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Producto</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE PRODUCTOS</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Codigo</td>
				<td>Nombre Producto</td>
				<td>Categoria</td>
				<td>Stock Minimo</td>
				<td>Marca Producto</td>
				<td>Modelo Producto</td>
			</tr>
		</thead>
		<tbody>
			{% for producto_list in object_list %}
			<tr>
				<td>{{producto_list.codigo}}</td>
				<td>{{producto_list.nombre_producto}}</td>
				<td>{{producto_list.categoria.username}}</td>
				<td>{{producto_list.stock_minimo}}</td>
				<td>{{producto_list.marca_producto}}</td>
				<td>{{producto_list.modelo_producto}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'producto:producto_editar' producto_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'producto:producto_eliminar' producto_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registros de productos</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'producto:producto_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}