<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Sistema | Inventario-Editar</title>
  </head>
{% extends 'adminlte/base.html'%}
{%block content%}
  <div class="row">
      <div class="col-xs-5">
          <h1>EDITAR INVENTARIO</h1>
          <hr>
          <form method="POST" action="">
              {% csrf_token%}
              {{form.as_p}}
              <hr>
              <input type='submit' class="btn btn-primary" value='Guardar Cambios'>
            </form>
      </div>
  </div>
  <br>
</html>
{%endblock%}