<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Inventario-Listar</title>
</head>
<body>
{% extends 'adminlte/base.html' %}
{% block content %}
    <div class="search-form" class="col-md-4">
        <form id="search-form" action="" method="get">
        <div class="input-group">
            <input type="text" name="q" class="form-control" value="{{ q }}" placeholder="Buscar: Departamento" autofocus/>
            <span class="input-group-addon" onclick="document.getElementById('search-form').submit()">
            <i class="fa fa-search"></i>
            </span>
        </div>
        </form>
    </div>
    <div class="table-responsive"></div>
    <table class="table table-bordered">
		<thead>
		<tr>

			<td>departamento</td>
			<td>Producto</td>
		</tr>
		</thead>
		<tbody>
		{% for inventario in object_list %}
		<tr>
			<td>{{inventario.departamento}}</td>
			<td>{{inventario.producto}}</td>
			<td style="border :1px solid transparent">
				<a class="btn btn-primary" href="{% url 'inventario:editar_inventario' inventario.id %}"><i class="ion-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i>Editar</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<a class="btn btn-primary" href="{% url 'inventario:reporte_inventario' %}"> <i class="ion-ios-printer-outline"	> </i> Generar Reporte</a>
</body>
</html>
{% endblock %}