<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Sistema | Eliminar Traspaso</title>
  </head>
{% extends 'adminlte/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar el traspaso "{{ object.id }}" ?</h3>
    <button class = "btn btn-danger" type="submit">Si, eliminar</button>
    <a class = "btn btn-default" href="{% url 'traspaso:traspaso_list' %}">Cancelar</a>

</form>
</html>
{% endblock %}
