<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Traspasos</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE TRASPASOS</h1>
    <a class="btn btn-primary" href="{% url 'traspaso:traspaso_crear' %}"><i class="fa fa-plus-square" aria-hidden="true"></i> Agregar</a>
    <a class="btn btn-primary" href="{% url 'traspaso:reporteFondos' %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Reporte traspasos</a>

    <!--<a class="btn btn-primary" href="{% url 'traspaso:reporte_fondos_pdf' %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Reporte fondos actuales</a>-->
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Codigo</td>
				<td>Cuenta origen</td>
				<td>Cuenta destino</td>
				<td>Fecha</td>
				<td>Monto</td>
			</tr>
		</thead>
		<tbody>
			{% for traspaso_list in object_list %}
			<tr>
				<td>{{traspaso_list.id}}</td>
				<td>{{traspaso_list.cuenta_origen.tipo_cuenta}}</td>
				<td>{{traspaso_list.cuenta_destino}}</td>
				<td>{{traspaso_list.fecha}}</td>
				<td>{{traspaso_list.monto}}</td>
        <td style="border :1px solid transparent ">
				  <a class="btn btn-primary" href="{% url 'traspaso:traspaso_editar' traspaso_list.id %}"><i class="ion-edit"></i> Editar</a>
          <a class="btn btn-danger" href="{% url 'traspaso:traspaso_eliminar' traspaso_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
          <a class="btn btn-success" href="{% url 'contabilidad:reporteContabilidad' %}"> <i class="ion-android-delete"></i> Mostrar reporte contabilidad</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registro de traspasos</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'traspaso:traspaso_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
		<a class="btn btn-success" href="{% url 'contabilidad:reporteContabilidad' %}"> <i class="ion-android-delete"></i> Mostrar reporte contabilidad</a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}
