<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Cuentas</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE CUENTAS</h1>
    <a class="btn btn-primary" href="{% url 'cuenta:cuenta_crear' %}"><i class="fa fa-plus-square" aria-hidden="true"></i> Agregar</a>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Codigo</td>
				<td>Tipo cuenta</td>
				<td>Fondos actuales</td>
				<td>Fondos mínimos</td>
			</tr>
		</thead>
		<tbody>
			{% for cuenta_list in object_list %}
			<tr>
				<td>{{cuenta_list.id}}</td>
				<td>{{cuenta_list.tipo_cuenta}}</td>
				<td>{{cuenta_list.fondos_actuales}}</td>
				<td>{{cuenta_list.fondos_minimos}}</td>
        <td style="border :1px solid transparent ">
				  <a class="btn btn-primary" href="{% url 'cuenta:cuenta_editar' cuenta_list.id %}"><i class="ion-edit"></i> Editar</a>
      	  <a class="btn btn-danger" href="{% url 'cuenta:cuenta_eliminar' cuenta_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
      	  <a class="btn btn-success" href="{% url 'contabilidad:reporteFondos' %}"> <i class="ion-android-delete"></i> Mostrar reporte contabilidad</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registro de Cuentas</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'cuenta:cuenta_crear' %}"> <i class="ion-plus-round"></i> Agregar Cuenta </a>
				<a class="btn btn-success" href="{% url 'contabilidad:reporteFondos' %}"> <i class="ion-android-delete"></i> Mostrar reporte contabilidad</a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}
