<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Contabilidad</title>
</head>
<body>
    {% extends 'adminlte/base.html'%}

    {%block content%}
    <div class="col-sm-12">
        <h1>Cuentas</h1>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {{form.as_p}}
            <input type='submit' class="btn btn-primary" value='Guardar Registro'>
        </form>
    </div>
</body>
</html>
{%endblock%}
