﻿{% load adminlte_helpers %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        {% block user_panel %}
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{% avatar_url size=90 %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{% firstof request.user.get_full_name request.user.username %}</p>
            </div>
        </div>
        {% endblock %}

        {% block form %}{% endblock %}

        <!-- sidebar menu: : style can be found in sidebar.less -->
        {% block nav_links_ul %}
        <ul class="sidebar-menu">
            {% block nav_links_outer %}
            <li class="header">{% block nav_heading %}SISTEMA DE NOSEQUE{% endblock %}</li>

            {% block nav_links %}
                <!-- <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Example link</span>
                    </a>
                </li> -->
                <li>
                    <a href="{% url 'home:index' %}">
                        <i class="fa fa-dashboard"></i><span>Inicio</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Producto</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'producto:producto_listar' %}">
                                <i class="fa fa-user"></i> Listar
                            </a>
                            <a href="{% url 'producto:producto_crear' %}">
                                <i class="fa fa-user"></i> Registrar
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Adquisiciones</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'adquisiciones:ordencompra_listar' %}">
                                <i class="fa fa-user"></i> Listar Orden de Compra
                            </a>
                            <a href="{% url 'adquisiciones:ordencompra_crear' %}">
                                <i class="fa fa-user"></i> Registrar Orden de Compra
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'adquisiciones:factura_listar' %}">
                                <i class="fa fa-user"></i> Listar Factura
                            </a>
                            <a href="{% url 'adquisiciones:factura_crear' %}">
                                <i class="fa fa-user"></i> Registrar Factura
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Contabilidad</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'cuenta:cuenta_list' %}">
                                <i class="fa fa-user"></i> Listar Cuentas
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'cuenta:cuenta_crear' %}">
                                <i class="fa fa-user"></i> Crear Cuentas
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'traspaso:traspaso_list' %}">
                                <i class="fa fa-user"></i> Listar traspasos
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'traspaso:traspaso_crear' %}">
                                <i class="fa fa-user"></i> Crear traspaso
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Proveedor</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'proveedor:proveedor_listar' %}">
                                <i class="fa fa-user"></i> Listar
                            </a>
                            <a href="{% url 'proveedor:proveedor_crear' %}">
                                <i class="fa fa-user"></i> Registrar
                            </a>
                        </li>
                    </ul>
                    <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Inventario</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'inventario:crear_inventario' %}">
                                <i class="fa fa-user"></i> Crear Inventario
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'inventario:listar_inventario' %}">
                                <i class="fa fa-user"></i> Listar Inventario
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-group"></i> <span>Organizacion</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:crear_organizacion' %}">
                                <i class="fa fa-user"></i> Crear Organizacion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:listar_organizacion' %}">
                                <i class="fa fa-user"></i> Listar Organizacion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:crear_direccion' %}">
                                <i class="fa fa-user"></i> Crear Direccion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:listar_direccion' %}">
                                <i class="fa fa-user"></i> Listar Direccion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:crear_departamento' %}">
                                <i class="fa fa-user"></i> Crear Departamento
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'organizacion:listar_departamento' %}">
                                <i class="fa fa-user"></i> Listar Departamento
                            </a>
                        </li>
                    </ul>
                </li>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th"></i> <span>Bodega</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'bodega:bodega_crear' %}">
                                <i class="fa fa-user"></i> Crear Bodega
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'bodega:bodega_listar' %}">
                                <i class="fa fa-user"></i> Listar Bodega
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'bodega:ubicacion_crear' %}">
                                <i class="fa fa-user"></i> Crear Ubicacion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'bodega:ubicacion_listar' %}">
                                <i class="fa fa-user"></i> Listar Ubicacion
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{% url 'bodega:reporte' %}">
                                <i class="fa fa-user"></i> Reporte de productos en bodega
                            </a>
                        </li>
                    </ul>
                </li>
            {% endblock nav_links %}
            {% endblock nav_links_outer %}
        </ul>
        {% endblock nav_links_ul %}
    </section>
    <!-- /.sidebar -->
</aside>
