<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Producto</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE FACTURAS</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Producto</td>
				<td>Proveedor</td>
				<td>Fecha</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody>
			{% for factura_list in object_list %}
			<tr>
				<td>{{factura_list.producto}}</td>
				<td>{{factura_list.proveedor}}</td>
				<td>{{factura_list.fecha}}</td>
				<td>{{factura_list.total}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'adquisiciones:factura_editar' factura_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'adquisiciones:factura_eliminar' factura_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registros de productos</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'adquisiciones:factura_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}