<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Orden de Compra</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}

<div id="" class="gray-bg"><br>
	<a class="btn btn-primary" href="{% url 'adquisiciones:reporte' %}"> <i class="ion-ios-printer-outline"> </i> Generar Reporte</a>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE ORDENES DE COMPRA</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Producto</td>
				<td>Total</td>
				<td>Estado</td>
				<td>Observacion</td>
				<td>Departamento</td>
				<td>Fecha</td>
			</tr>
		</thead>
		<tbody>
			{% for ordencompra_list in object_list %}
			<tr>
				<td>{{ordencompra_list.producto}}</td>
				<td>{{ordencompra_list.total}}</td>
				<td>{{ordencompra_list.estado}}</td>
				<td>{{ordencompra_list.observacion}}</td>
				<td>{{ordencompra_list.departamento}}</td>
				<td>{{ordencompra_list.fecha}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'adquisiciones:ordencompra_editar' ordencompra_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'adquisiciones:ordencompra_eliminar' ordencompra_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registros de ordenes de compra</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'adquisiciones:ordencompra_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}