<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Adquisiciones | Reportes</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
	<div class="form-group">
		<div class="row">
			<div class="col-lg-1">
				<a href="{% url 'Adquisiciones:reporte' %}" class="btn btn-info btn-block">
					<span class=""></span>
				</a>
			</div>
		</div>
	</div>
</html>
{% endblock %}