﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Registrar producto - Bodega</title>
input.placeholder {
    text-align: center;
}
.emailField {
    top:413px;
    right:290px;
    width: 355px;
    height: 30px;
    position: absolute;
    border: none;
    font-size: 17;
    text-align: center;
}
</head>
<body>

{% extends 'adminlte/base.html'%}
    {%block content%}

        <center><h1>REGISTRO DE PRODUCTO A BODEGA</h1></center>
        <hr>
        <form method="POST" action="">

            {% csrf_token%}
            {{form.as_p}}
            <hr>
            <center><input type='submit' class="btn btn-primary" value='Guardar producto en bodega'></center>
        </form>
	
</body>
</html>
{%endblock%}

