﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar producto - Bodega</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTADO DE PRODUCTOS EN BODEGA</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Producto</td>
				<td>Fecha de ingreso</td>
				<td>Stock en bodega</td>
				<td>Estado</td>
				<td>Ubicación</td>
			</tr>
		</thead>
		<tbody>
			{% for bodega_list in object_list %}
			<tr>
				<td>{{bodega_list.producto}}</td>
				<td>{{bodega_list.fecha_ingreso}}</td>
				<td>{{bodega_list.stock_bodega}}</td>
				<td>{{bodega_list.estado}}</td>
				<td>{{bodega_list.ubicacion}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'bodega:bodega_editar' bodega_list.id %}"><i class="ion-edit"></i> Editar</a>
                <a class="btn btn-danger" href="{% url 'bodega:bodega_eliminar' bodega_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
                <a class="btn btn-success" href=""> <i class="ion-android-delete"></i> Traspasar a inventario</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay productos en bodega</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'bodega:bodega_crear' %}"> <i class="ion-plus-round"></i> Agregar producto en bodega </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}