<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Proveedor</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE PROVEEDORES</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Nombre Proveedor</td>
				<td>Direccion</td>
				<td>Telefono</td>
				<td>Rut</td>
			</tr>
		</thead>
		<tbody>
			{% for proveedor_list in object_list %}
			<tr>
				<td>{{proveedor_list.nombre_proveedor}}</td>
				<td>{{proveedor_list.direccion}}</td>
				<td>{{proveedor_list.telefono}}</td>
				<td>{{proveedor_list.rut}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'proveedor:proveedor_editar' proveedor_list.id %}"><i class="ion-edit"></i> Editar</a>
              	<a class="btn btn-danger" href="{% url 'proveedor:proveedor_eliminar' proveedor_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registros de proveedores</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'proveedor:proveedor_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}