<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Inventario-Listar</title>
</head>
<body>
{% extends 'adminlte/base.html' %}
{% block content %}
    <div class="search-form" class="col-md-4">
        <form id="search-form" action="" method="get">
        <div class="input-group">
            <input type="text" name="q" class="form-control" value="{{ q }}" placeholder="Buscar: Departamento" autofocus/>
            <span class="input-group-addon" onclick="document.getElementById('search-form').submit()">
            <i class="fa fa-search"></i>
            </span>
        </div>
        </form>
    </div>
    <div class="table-responsive"></div>
    <table class="table table-bordered">
		<thead>
		<tr>


			<td>codigo_organizacion</td>
			<td>nombre_organizacion</td>
		</tr>
		</thead>
		<tbody>
		{% for organizacion in object_list %}
		<tr>
			<td>{{organizacion.codigo_organizacion}}</td>
			<td>{{organizacion.nombre_organizacion}}</td>


		</tr>
		{% endfor %}
		</tbody>
	</table>
</body>
</html>
{% endblock %}