﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Ubicacion - Registrar</title>
</head>
<body>
    {% extends 'adminlte/base.html'%}

    {%block content%}
        <center><h1>REGISTRO DE UBICACIÓN</h1></center>
        <hr>
        <form method="POST" action="">
            {% csrf_token%}
            {{form.as_p}}
            <hr>
            <center><input type='submit' class="btn btn-primary" value='Guardar ubicación'></center>
        </form>
</body>
</html>
{%endblock%}

