﻿<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Sistema | Eliminar - Ubicacion</title>
  </head>
{% extends 'adminlte/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <h3>¿Desea eliminar el registro de ubicacion "{{ubicacion.id}}" ?</h3>
    <button class = "btn btn-danger" type="submit">Si, eliminar</button>
    <a class = "btn btn-default" href="{% url 'ubicacion:ubicacion_listar' %}">Cancelar</a>

</form>
</html>
{% endblock %}