﻿<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema | Listar Ubicacion</title>
</head>
{% extends 'adminlte/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE UBICACIONES</h1>
	<hr>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Estante</td>
				<td>Pasillo</td>
				<td>Nivel</td>
			</tr>
		</thead>
		<tbody>
			{% for ubicacion_list in object_list %}
			<tr>
				<td>{{ubicacion_list.estante}}</td>
				<td>{{ubicacion_list.pasillo}}</td>
				<td>{{ubicacion_list.nivel}}</td>
        <td style="border :1px solid transparent ">
				<a class="btn btn-primary" href="{% url 'ubicacion:ubicacion_editar' ubicacion_list.id %}"><i class="ion-edit"></i> Editar</a>
                <a class="btn btn-danger" href="{% url 'ubicacion:ubicacion_eliminar' ubicacion_list.id %}"> <i class="ion-android-delete"></i> Eliminar</a>
        </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No hay registros de ubicaciones</h1>
	<hr>
	<td>
		<a class="btn btn-primary" href="{% url 'ubicacion:ubicacion_crear' %}"> <i class="ion-plus-round"></i> Agregar Registro </a>
	</td>
	{% endif %}
</div>
</div>
 </html>
{% endblock %}